# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env


# Application URL
NEXT_PUBLIC_URL="http://localhost:3001"


NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"



# Database Configuration
# DATABASE_URL="postgresql://postgres:password@localhost:5432/username"
DATABASE_URL=""


# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=



# Aurinko Configuration (Email API)
AURINKO_CLIENT_ID=""
AURINKO_CLIENT_SECRET=""
AURINKO_SIGNING_SECRET=""

# OpenAI Configuration
OPENAI_API_KEY=""

# Stripe Configuration
STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_PUBLISHABLE_KEY="your_stripe_publishable_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"

